body {
    background-color: #f8f9fa; /* Light grey background */
}

.registration-form {
    background-color: #fff; /* White background for the form */
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); /* Small shadow */
    max-width: 90%;
    margin: 15px auto;
    margin-top: 15px;
    margin-bottom: 25px;
}

.floating-alert {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
}
.login-form {
    background-color: white; /* White form background */
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); /* Small shadow */
}
.login-form a{
    text-decoration: none;
}
.alert-message {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1050;
}
.navbar {
    background-color: #ffffff; /* White navbar background */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); /* Small shadow */
    
}

.card {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); /* Small shadow */
}

.container-profile {

    display: flexbox;
    justify-content: center;
    margin-top: 80px;
    width: 70%;

}
.container-profile .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    padding: 30px;
    height: 90%;
}

.container-profile .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.card h3, .card p {
    margin: 15px 0;
}
.card h3 {
    font-size: 2.2em;
}
.card p {
    font-size: 1.1em;
    color: #666;
}
.row-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.row-center .col{
    display: flex;
}