body {
    background-color: #f8f9fa; /* Light grey background */
}

.registration-form {
    background-color: #fff; /* White background for the form */
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); /* Small shadow */
    max-width: 50%;
    margin: 15px auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.floating-alert {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
}
.login-form {
    background-color: white; /* White form background */
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); /* Small shadow */
    max-width: 50%;
    margin: 15px auto;
}
.login-form a{
    text-decoration: none;
}
.alert-message {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1050;
}
.navbar {
    background-color: #ffffff; /* White navbar background */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); /* Small shadow */
    
}

.card {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); /* Small shadow */
}