<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracija</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="">
    

        <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container-fluid">
    <a class="navbar-brand" th:href="@{/admin-dashboard}">e-Dnevnik</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0"> 
            <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><a class="nav-link" th:href="@{/admin-dashboard}">POČETNA</a></li>
            <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><a class="nav-link" th:href="@{/korisnici}">KORISNICI</a></li>
            <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><a class="nav-link" th:href=@{/razredi}>RAZREDI</a></li>
            <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><a class="nav-link" th:href="@{/predmeti}">PREDMETI</a></li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span style="font-size: small;" sec:authentication="principal.username"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown" sec:authorize="isAuthenticated()">
                    <li><a class="dropdown-item" href="#">Uredi profil</a></li>
                    <li><a class="dropdown-item" th:href="@{/logout}">Odjava</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</nav>
        <div class="floating-alert" id="floatingAlert" style="display: none;">
            <div class="alert alert-success alert-dismissible fade show" th:if="${message != null}" role="alert">
               [[${message}]]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
<div class="container"> 
        <div class="registration-form">
            <h2 class="text-center display-5">DODAJ PREDMET</h2>
            <form th:action="@{/add-predmet}" method="post" role="form" th:object="${predmet}">
                <div class="form-floating mt-4 mb-3">
                    <input type="text" class="form-control" id="naziv" name="naziv" placeholder="Naziv predmeta" required>
                    <label for="naziv">Naziv</label>
                </div>
                <button type="submit" class="btn btn-light btn-block btn-outline-dark">Dodaj</button>
            </form>
        </div>
        

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        // Example JavaScript to show the floating alert
        document.getElementById('registrationForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent form submission for demo purposes

            // Show the floating alert
            var alertDiv = document.getElementById('floatingAlert');
            alertDiv.style.display = 'block';

            // Hide the alert after 3 seconds
            setTimeout(function() {
                $('#floatingAlert').alert('close');
            }, 3000);
        });
    </script>
</body>
</html>    
</html>
